<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./css/login.css" >
</head>
<body>
    <h3>Log In</h3>
    <form id="login-form">
        <input type="email" name="email" id="email" placeholder="email" required>
        <input type="password" namw="passWord" id="password" placeholder="password" required>
        <button type="submit">Log In</button>
    </form>
    <div id="forgot-password" style="margin-top: 10pt;" >
        <button id="forgot-password-btn" onclick="forgotPassword()">Forgot password</button>
        <form id="forgot-password-form" style="display: none;">
            <p>Rest your password</p>
            <input type="email" name="email"  placeholder="Enter you Email" required>
            <button type="submit">Get Reset Link</button>
        </form>
    </div>
    <p>Not a User? - <a href="signup.html">Sign Up Now</a></p>
    <p id="error" style="color:red"></p>


    <script src="../scripts/login.js"></script>
</body>
</html>